<div class="snap-share-card">
    <h2>{{ snapShare.title }}</h2>
    <p>Mis en ligne le {{ snapShare.createdDate }}</p>
    <img [src]="snapShare.imageUrl" [alt]="snapShare.title">
    <p> {{ snapShare.description }}</p>
    <p>
        <button (click)="onSnap()">{{ buttonTxt}}</button>
        👍{{ snapShare.likes }}
    </p>
</div>